@use "../abstracts" as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul {
  list-style-type: none;
}

img {
  min-height: 100%;
  display: block;
}

h1,
h2 {
  font-family: $font-style-01, sans-serif;
  font-weight: $font-extra-bold;
  font-size: clamp(1rem, 2.5rem + 1vw, 3rem);
  text-transform: capitalize;
}

p {
  font-family: $font-style-02, sans-serif;
  font-size: clamp(0.7rem, 0.9rem + 1vw, 1.1rem);
  font-weight: $font-semi-bold;
  color: $dark-grayish;
}

.hidden {
  display: none;
}
@include mobile {
  .desktop-hero {
    display: none;
  }
  .mobile-hero {
    img {
      max-width: 100%;
    }
  }
}

@include desktop {
  .mobile-hero {
    display: none;
  }
  .desktop-hero {
    display: block;
    img {
      width: 100%;
    }
  }

  .burger-menu {
    display: none;
  }
}
