@use "../abstracts" as *;

header {
  display: flex;
  min-width: 100%;
  justify-content: space-between;
  position: absolute;
  z-index: 1;
  padding: 2rem;
  top: 0;

  .main-logo {
    img {
      min-height: 2rem;
    }
  }

  .burger-menu {
    img {
      min-height: 1rem;
    }
  }
}
