@use "../abstracts" as *;

// main page section
.main-page {
  display: flex;
  align-items: center;
  position: relative;

  .title {
    text-align: center;
    position: absolute;
    color: $white;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
  }
  .arrow-down {
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);

    img {
      height: 7rem;
    }
  }

  @include desktop {
    .arrow-down {
      bottom: 30%;
      img {
        height: 6rem;
      }
    }
  }
}

// second page section
.second-page {
  &__description {
    padding: 5rem 2rem;
    text-align: center;

    h1 {
      margin-bottom: 2rem;
    }
    .learn-more {
      margin-top: 3rem;
      font-weight: $font-extra-bold;
      font-family: $font-style-01;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      color: $very-dark;
      font-size: 1rem;
      position: relative;
      min-width: 100%;
      text-align: center;
      cursor: pointer;

      &::before {
        content: "";
        border-radius: 20px;
        min-height: 6px;
        min-width: 8.2rem;
        background-color: lighten($color: $yellow, $amount: 35%);
        position: absolute;
        bottom: 0;
        z-index: -1;
      }
    }
    .learn-second::before {
      background-color: lighten($color: $soft-red, $amount: 20%);
    }
  }
}

// third page section
.third-page {
  text-align: center;

  &__features {
    position: relative;
  }
  &__description {
    position: absolute;
    padding: 0 1rem;
    bottom: 20%;
    h1 {
      margin-bottom: 2rem;
    }

    & > * {
      color: $dark-blue;
    }
  }
}

// client section

.client {
  padding: 3rem 2rem;
  align-items: center;
  text-align: center;
  &__testimonials {
    color: $grayish-blue;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.4rem;
    margin-bottom: 2rem;
  }

  &__feedback {
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
    flex-direction: column;

    .comment {
      color: $very-darkgrayish;
      margin-bottom: 2rem;
    }
    .profile {
      margin-bottom: 1rem;
      width: 60px;
      height: 60px;
      border-radius: 30px;
      background-color: $dark-moderate;
    }
    .emily {
      background-image: url(/images/image-emily.jpg);
      background-position: center;
      background-size: contain;
    }

    .thomas {
      background-image: url(/images/image-thomas.jpg);
      background-position: center;
      background-size: contain;
    }

    .jennie {
      background-image: url(/images/image-jennie.jpg);
      background-position: center;
      background-size: contain;
    }

    .name {
      color: $very-dark;
      font-family: $font-style-01;
      font-weight: $font-extra-bold;
      margin-bottom: 0.4rem;
    }
  }
}

// fourth section

.fourth-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

//footer

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: lighten($color: $dark-moderate, $amount: 35%);
  padding: 3rem 1rem;

  .sunnyside-footer {
    filter: invert(45%) sepia(66%) saturate(289%) hue-rotate(118deg)
      brightness(65%) contrast(86%);
    margin-bottom: 2rem;
  }
  & > * {
    color: lighten($color: $dark-desaturated, $amount: 10%);
  }

  .details {
    margin-bottom: 4rem;
    span {
      padding: 0 1rem;
      font-family: $font-style-02;
      text-transform: capitalize;
      font-size: 1.1rem;
    }
  }

  .social-media {
    * {
      margin: 0 1rem;
      font-size: 1.5rem;
    }
  }
}

@include desktop {
  .main-page {
    overflow: hidden;
    max-height: 85vh;

    .desktop-hero {
      img {
        min-width: 100vw;
        object-fit: cover;
        object-position: top;
      }
    }
  }

  .second-page {
    min-height: 100vh;
    &__learn-more {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-flow: column dense;

      .desktop-hero {
        img {
          max-height: 20rem;
          object-position: center center;
          object-fit: cover;
        }
      }
      .egg-picture {
        grid-column: 2/-1;
      }
    }
    &__description {
      min-width: 100%;
      display: flex;
      justify-content: center;
      text-align: start;
      flex-direction: column;
      min-height: 100%;

      & > * {
        align-self: center;
        max-width: 23rem;
      }
    }
  }

  .third-page {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-width: 100%;

    &__description {
      bottom: 10%;
      left: 40%;
      transform: translateX(-30%);
      max-width: 37.4rem;

      h1 {
        font-size: clamp(1rem, 2rem + 1vw, 2.4rem);
      }
    }
  }

  .client {
    padding: 10rem;
    &__container {
      margin-top: 5rem;
      display: flex;
      gap: 4rem;
      justify-content: center;
    }

    &__feedback {
      max-width: 23.75rem;
    }
  }

  .fourth-section {
    grid-template-columns: repeat(4, 1fr);
  }
}
