@use "../abstracts" as *;

@include mobile {
  nav {
    margin-top: 13rem;
    min-width: 85vw;
    padding: 2rem 3rem;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    background-color: $white;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;

    &::before {
      content: "";
      position: absolute;
      top: -9%;
      right: 0;
      width: 0;
      height: 0;
      border: 30px solid transparent;
      border-right-color: $white;
    }
    .list__main {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
      text-transform: capitalize;
      font-family: $font-style-02;
      color: $dark-grayish;
      font-size: 1.3rem;

      .items {
        padding: 0.8rem 1rem;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
      }
      .items:hover {
        font-family: $font-style-01;
        text-transform: uppercase;
        color: $very-dark;
        font-weight: $font-bold;
        background-color: $yellow;
        border-radius: 30px;
      }
    }
  }

  .open {
    opacity: 1;
    top: 50%;
    visibility: visible;
  }
}

@include desktop {
  .list__main {
    display: flex;
    gap: 1.5rem;
    text-transform: capitalize;
    color: $white;
    font-family: $font-style-02;
    cursor: pointer;

    .items {
      padding: 0.9rem 1.3rem;
      transition: all 0.4s ease-in-out;
      font-size: 1.3rem;
    }
    .items:hover {
      background-color: $white;
      color: $very-dark;
      border-radius: 25px;
      text-transform: uppercase;
      font-family: $font-style-01;
      font-weight: $font-bold;
    }
  }
}
