@use "../abstracts" as *;

nav {
  margin-top: 15rem;
  min-width: 70vw;
  padding: 4rem;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background-color: $white;

  .list__main {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    text-transform: capitalize;
    font-family: $font-style-02;
    color: $dark-grayish;
    border: 1px solid transparent;

    .items {
      padding: 0.6rem 1rem;
      cursor: pointer;
    }
    .items:hover {
      background-color: $yellow;
      border-radius: 20px;
    }
  }
}
